@use '../abstracts/breakpoints';
@use '../abstracts/globals' as *;
$footer-text: #FFFFFF;

.footer {
    display: flexbox;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: auto;
    text-align: center;
    margin: 0;
    bottom: 5vh;
    // font-family: $font-stack;
    .footer-container {
        color: $footer-text;
        font-weight: 300;
        font-size: 0.8rem;
        .logo-links {
            color: $footer-text;
            display: flex ;
            align-items: center;
            justify-content: center;
            gap: 10px;  
            a {
                display: inline-block;
                transition: 0.3s;        
                width: 2rem;
                height: 2rem;
            }
            a:hover {
                color :$hover-glow;
                transform: translateY(-3px);
            }
        }
    }
}

a {
    display: inline-block;
    transition: 0.3s;
    width: 2rem;
    height: 2rem;
}
a:hover {
    color :$hover-glow;
    transform: translateY(-1px);
}


