@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,300;0,400;1,300&display=swap');

$font-stack: 'Josefin Sans';
$footer-text: #FFFFFF;
$hover-glow: #05d1fa;

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0%;
    margin: 0;
    width: 100%;
    text-align: center;
    font-family: $font-stack;
    .footer-container {
        color: $footer-text;
        font-size: 0.80rem;
        .logo-links {
            color: $footer-text;
            display: flex ;
            align-items: center;
            justify-content: center;
            gap: 10px;     
            a {
                display: inline-block;
                transition: 0.3s;
                color: #FFFFFF;
            }
            a:hover {
                color :$hover-glow;
                transform: translateY(-3px);
            }
        }
    }    
}


