@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Ubuntu&display=swap');

$font-stack: 'Open Sans';
$navbar-text : #FFFFFF;

.navbar {
    display: flex;
    justify-content: end;
    width: 100%;
    font-size: 1rem;
    font-family: $font-stack;
    color: $navbar-text;
}

.links {
    display: flex;
    justify-content: space-between;
    font-family: $font-stack;
    padding: 0 10px;
    gap: 1rem;
}

.links a {
    text-decoration: none;
}

.links a:visited {
    color: inherit;
}
