@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap');

$font-stack: 'Josefin Sans';
$navbar-text: #FFFFFF;


.header {
	// z-index: 10;
	position: sticky;
	top: 0;
	user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
	width: 100%;
	min-height: 100px;
	background-color: transparent;
	transition: 0.2s;
    color: $navbar-text;
    font-family: $font-stack;
	.navbar {
        display: flex;
        align-items: center;
		justify-content: space-between;
		width: 100%;
		max-width: 900px;
        padding: 0 10px;
		.logo {
			margin: 0;
		}
		.links {
			a {
				margin-left: 25px;
                text-decoration: none;
                color: $navbar-text;
			}
            a:visited {
                color: inherit;
            }
		}
	}
}