@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap');
@import './breakpoint.scss';

$font-stack: 'Josefin Sans';
$navbar-text: #FFFFFF;
$hover-glow: #05d1fa;

.header {
	position: sticky;
	top: 0;
	user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
	width: 100%;
	min-height: 100px;
	background-color: transparent;
	transition: 0.2s;
    color: $navbar-text;
    font-family: $font-stack;
	.navbar {
        display: flex;
        align-items: center;
		justify-content: space-between;
		width: 100%;
		max-width: 900px;
        padding: 10px;
		.logo {
			margin: 0;
			@include xl-breakpoint {
				font-size: 1.25rem;
			}
		}
		.links {
			a {
				margin-left: 25px;
                text-decoration: none;
                color: $navbar-text;
				transition: 0.3s;
				@include xs-breakpoint {
					font-size: 0.75rem;
				}
				@include xl-breakpoint {
					font-size: 1rem;
				}
			}
            a:visited {
                color: inherit;
            }
			a:hover { 
				color: $hover-glow; 
			}
		}
	}
}